services:
    pgsql:
        container_name: pgsql_crypto-order-book
        image: postgres:18-trixie
        shm_size: 128mb
        ports:
            - '5321:5432'
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        restart: unless-stopped
        networks:
            dockernet:
                ipv4_address: 172.11.11.10

volumes:
    postgres_data:

networks:
    dockernet:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 172.11.11.0/24
